<%= form_for @user, :url => @url_action, :method => :POST, :html=>{:class => "navbar-form pull-center"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <div class="field">
    <tr>
      <td>
        <%= f.label :username %>
      </td>
      <td>
        <%= f.text_field :username %>
      </td>
    </tr>
    </div>
    <div class="field">
    <tr>
      <td>
        <%= f.label :email %>
      </td>
      <td>
        <%= f.text_field :email ,{ :disabled => @editing}%>
      </td>
    </tr>
    </div>
    <div class="field">
    <tr>
      <td>
        <%= f.label :password %>
      </td>
      <td>
        <%= f.text_field :password , {:type => "password"}%>
      </td>
    </tr>
    </div>
    <div class="field">
    <tr>
      <td>
        <%= f.label :password_confirmation %>
      </td>
      <td>
        <%= f.text_field :password_confirmation , {:type => "password" }%>
      </td>
    </tr>
    </div>
    <div class="actions">
    <tr>
      <td>
        <%= f.submit %>
      </td>
    </tr>
    </div>    

  </table>
<% end %>
