<hr><br><br><br><br>
<h1> Add new todo</h1>
<hr>
<%= form_for @new_todo, :url => { :action => "create" }  do |f|  %>
  <table>
   <tr>
    <td>
     ToDo:
    </td>
    <td>
     <%= f.text_field  :todo_item %>
    </td>
   </tr>
   <tr>
    <td>
     Final Date:
    </td>
    <td>
     <%= f.text_field :todo_date , :id =>"datetimepicker1"%>
    </td>
   </tr>
</table>
<a class="btn btn-success" href="<%=root_path%>">Back</a>
<%= f.submit "Add todo", class: "btn btn-success" %>
<%end%>

