<% if not current_user %>
<%= form_for @user_session, :html=>{:class => "navbar-form navbar-right", :action=>login_path, :role => "form"} do |f| %>
  <%= f.text_field :email, {:type =>"text", :placeholder=>"Email", :class => "form-control"} %>
  <%= f.text_field :password, {:type =>"password", :placeholder=>"Password", :class => "form-control"} %>
  <button type="submit" class="btn btn-success">Sign in</button>
  <a class="btn btn-success" href="<%=user_new_path%>" id="Register"> Register</a>
<%end%>
<% else %>
<span class="navbar-text navbar-right">
  Welcome <i><a href="<%=user_edit_path(current_user)%>"><%=current_user.username%></a></i>!
  <a class="btn" href="<%=logout_path(current_user)%>">Logout</a>
</span>
<% end %>



