<title>Shared Todo App </title>
<div class="container">
  <div class="hero-unit">
     <h1>Shared Todo Application</h1>
  </div>
<% if current_user %>
  <div class="row">
    <div class="span7">
      <h1>All your todos here</h1>
      <hr>
      <%= form_tag("/todos/complete/", :method => "post") do %>
         <ul style="list-style-type:none;">
           <div class="well"> <!-- well -->
              <table>
                 <tr>
                    <td> ToDo </td>
                    <td> Date </td>
                 </tr>
              <% @todo_items.each do |t| %> 
                 <tr>
                <% if t.completed == true %>
                   <td style="color:grey;"> <%= check_box_tag  "todos_checkbox[]",t.id %>  <strike><%= t.todo_item %></strike> </td>
                   <td style="color:grey;"> 
                       <%=t.todo_date %>
                   </td>
                <% else %>
                   <td> <%= check_box_tag  "todos_checkbox[]",t.id %> <%= t.todo_item %>  </td>
                   <td> 
                       <%=t.todo_date%>
                   </td>
                <% end %>
                 </tr>
              <%end%>
              </table>
           </div> <!-- well -->
         </ul>
         <%= submit_tag("Complete Todos", :class=>"btn btn-success") %>
      <%end %>
    </div> <!-- span4 -->
    <div class="span4">
<%= render "todos/add_todo" %>
    </div>

  </div> <!-- row -->
</div> <!-- container -->
<%= link_to "Delete last todo", delete_path %>
<%end%>
