
  <div class="hero-unit" style="center">
     <h1>Shared Todo Application</h1>
  </div>
  

<% if current_user %>
  <div class="row-fluid">
    <div class="span7">
      <div class="row-fluid">
      <h2>Current ToDo's</h2> <a class="btn btn-success pull-right" href="<%=new_todo_path%>">Add ToDo</a>
      <hr>
      <%= form_tag("/todos/complete/", :method => "post") do %>
         <ul style="list-style-type:none;">
           <div class="well"> <!-- well -->
              <table>
                 <tr>
                    <td></td>
                    <td> ToDo </td>
                    <td> Date </td>
                 </tr>
              <% @todo_items.each do |t| %> 
                 <tr>
                   <td>
                     <%= link_to image_tag("delete-file-icon.png",
                                           :alt => "Delete ToDo",
                                           size: "24x24"),
                                 todo_path(t),
                                 method: :delete,
                                 data: { confirm: "Are you certain you want to delete '#{t.todo_item}'?" }%>
                     <%= link_to image_tag("edit-icon.png",
                                           :alt => "Edit ToDo",
                                           size: "24x24"),
                                 edit_todo_path(t)%>
                   </td>
                <% if t.completed == true %>
                   <td style="color:grey;"> <%= check_box_tag  "todos_checkbox[]",t.id %>  <strike><%= t.todo_item %></strike> </td>
                   <td style="color:grey;"> 
                       <%=custom_time(t.todo_date) %>
                   </td>
                <% else %>
                   <td> <%= check_box_tag  "todos_checkbox[]",t.id %> <%= t.todo_item %>  </td>
                   <td> 
                       <%=custom_time(t.todo_date)%>
                   </td>
                <% end %>
                 </tr>
              <%end%>
              </table>
           </div> <!-- well -->
         </ul>
         <%= submit_tag("Complete Todos", :class=>"btn btn-success") %>
      <%end %>
      
      </div>
    </div> <!-- span4 -->
  </div> <!-- row -->
<%end%>
